@font-face {
  font-family: "Federo";
  src: url("./fonts/Federo/Federo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;
}
p, a{
  font-family: 'Poppins-Light', sans-serif;
  text-decoration: none;
  color: black;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.App {
  display: grid;
  grid-template-areas: 'title title'
                       'label hero-image'
                       'label-1 hero-image'
                       'hero-button hero-image'
                       'label-2 hero-image'
                       'footer footer';
  font-family: 'Federo', sans-serif;
}
#hero-title{
  grid-area: title;
  font-size: 96px;
  text-align: center;
}
#hero-label{
  grid-area: label;
  font-size: 64px;
  text-align: left;
  align-content: end;
}
#app-label-1{
  display: flex;
  grid-area: label-1;
  font-size: 14px;
}
#app-label-2{
  grid-area: label-2;
  text-align: left;
  align-content: end;
  font-size: 11px;
}
.hero-button{
  justify-self: center;
  align-self: center;
  grid-area: hero-button;
  text-align: center;
  align-content: center;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #1E90FF;
}
#hero-image{
  grid-area: hero-image;
  width: 267px;
  height: 400px;
  border-radius: 0 100px 0 50px;
  margin-left: 60px;
}
#footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'about madeby'
                       'version version';
  text-align: center;
  grid-area: footer;
  padding-top: 90px;
  font-size: 14px;
  padding-bottom: 30px;
}
#about{
  grid-area: about;
}
#madeby{
  grid-area: madeby;
}
.version{
  grid-area: version;
  font-size: 10px;
}

/************************************************ EFFECTS ************************************************/

.link:hover{
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 0 0 10px;
}
.hero-button:hover{
  background-color: #0077EB;
  box-shadow: 0 0 10px #1E90FF;
}