@import url(./fonts/fonts.css);
.capture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#capture-content {
  display: grid;
  grid-template-areas:
    "webcam webcam webcam"
    "timer bottom-label capture-button";
  text-align: center;
}
#webcam {
  width: 533px;
  height: 400px;
  border-radius: 10px;
  grid-area: webcam;
  margin-bottom: 15px;
  overflow: hidden;
}
#countdown-timer-container {
  font-family: "Poppins", sans-serif;
  position: absolute;
  font-size: 210px;
  width: 533px;
  height: 400px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.ping {
  -webkit-animation: ping 1s ease-in-out 1s infinite both;
  animation: ping 1s ease-in-out 1s infinite both;
}
.timer-wrapper {
  grid-area: timer;
  display: grid;
  grid-template-areas:
    "textbox textbox"
    "time-down time-up";
  justify-content: center;
}
.textbox,
.timer-button {
  display: grid;
  justify-self: center;
  align-self: center;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.textbox {
  grid-area: textbox;
  height: 40px;
  width: 100px;
}
#timer {
  text-align: center;
}
.timer-button {
  cursor: pointer;
  margin-top: 5px;
  height: 40px;
  width: 45px;
}
#increament {
  grid-area: time-up;
}
#decrement {
  grid-area: time-down;
}
#bottom-label {
  grid-area: bottom-label;
  align-content: center;
  justify-content: center;
}
#bottom-label-title {
  font-family: "Federo", sans-serif;
  font-size: 48px;
}
#bottom-label-subtext {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
#capture-button {
  grid-area: capture-button;
  justify-self: center;
}
#image-count {
  margin-top: 5px;
}

/************************************************ EFFECTS ************************************************/

.timer-button:hover {
  background-color: #999999;
  box-shadow: 0 0 10px #999999;
}

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

/*********************************************** MEDIA QUERY ***********************************************/
@media (max-width: 600px) {
  #capture-content {
    grid-template-areas:
      "bottom-label timer"
      "webcam webcam"
      "capture-button capture-button";
  }
  #bottom-label {
    align-self: center;
    justify-self: end;
  }
  .timer-wrapper {
    padding-bottom: 10px;
  }
  #capture-button .hero-button {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: auto;
  }
}
