@import url(./fonts/fonts.css);


body{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh; /* Negative half of height. */
  margin-left: -50vw;/* Negative half of width. */
}
.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.App {
  display: grid;
  grid-template-areas: 'title title'
                       'label hero-image'
                       'label-1 hero-image'
                       'hero-button hero-image'
                       'label-2 hero-image'
                       'footer footer';
  font-family: 'Federo', sans-serif;
}
#hero-title{
  grid-area: title;
  font-size: 96px;
  text-align: center;
}
#hero-label{
  grid-area: label;
  font-size: 64px;
  text-align: left;
  align-content: end;
}
#app-label-1{
  display: flex;
  grid-area: label-1;
  font-size: 14px;
}
#app-label-2{
  grid-area: label-2;
  text-align: left;
  align-content: end;
  font-size: 11px;
}
.hero-button{
  justify-self: center;
  align-self: center;
  grid-area: hero-button;
  text-align: center;
  align-content: center;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #1E90FF;
}
#hero-image{
  grid-area: hero-image;
  width: 267px;
  height: 400px;
  border-radius: 0 100px 0 50px;
  margin-left: 60px;
}
#footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'about madeby'
                       'version version';
  text-align: center;
  grid-area: footer;
  padding-top: 90px;
  font-size: 14px;
  padding-bottom: 30px;
}
#about{
  grid-area: about;
}
#madeby{
  grid-area: madeby;
}
.version{
  grid-area: version;
  font-size: 10px;
}

/************************************************ EFFECTS ************************************************/

#loading{
  display: flex;
  font-size: 96px;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #F2F2F2;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}
.done-loading{
  transform: translateY(-100vh);
}
.link:hover{
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 0 0 10px;
}
.hero-button:hover{
  background-color: #0077EB;
  box-shadow: 0 0 10px #1E90FF;
}
#logo{
  height: 300px;
  width: 300px;
}

/*********************************************** ANIMATIONS ***********************************************/

.blink-1 {
	-webkit-animation: blink-1 1s ease-in-out ;
	        animation: blink-1 2s ease-in-out ;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*********************************************** MEDIA QUERY ***********************************************/
@media (max-width: 600px) {
  .App {
    width: 100vw;
    justify-content: center;
    grid-template-areas: 'title title'
                       'label label'
                       'label-1 label-1'
                       'hero-button hero-button'
                       'label-2 label-2'
                       'footer footer';
    }
  #hero-image{
    display: none;
  }
  #hero-label{
    font-size: 50px;
    text-align: center;
    padding-bottom: 200px;
  }
  #hero-title{
    font-size: 82px;
  }
  .main-container{
    justify-content: center;
  }
  #app-label-1{
    justify-content: center;
  }
  #app-label-2{
    text-align: center;
    padding-bottom: 200px;
  }
  .hero-button{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer{
    padding: 0;
    gap: 5px;
    grid-template-areas: 'about' 
                        'madeby'
                        'version';
    text-align: left;
  }
}
